<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
          {{personnel-nav}}
      </div>
      <div class="col-sm-10">

        <div class="col-sm-12">

          <legend>Search Active Personnel</legend>



        <div class="bs-example">
            <table class="table">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Years</th>
                        <th>Rank</th>
                        <th>Type Unit</th>
                    </tr>
                </thead>
                <tbody>
                  {{#each model as |personnel|}}

                    <tr>
                        <td>

                        <a href="#">
                        <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        </td>
                        <td>{{personnel.id}}</td>
                        <td>{{personnel.firstName}}</td>
                        <td>{{personnel.lastName}}</td>
                        <td>{{personnel.yrs}}</td>
                        <td>{{personnel.rank}}</td>
                        <td>{{personnel.unit}}</td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>
        </div>
        </div>

      </div>
    </div>
</div>
